FASPell/model/
FASPell/data/char_meta_all.txt
FASPell/apted.jar
FASPell/.DS_Store
FASPell/.idea/
FASPell/__pycache__/
FASPell/bert_modified/__pycache__/
FASPell/data/.DS_Store
FASPell/history.json
FASPell/logs/
FASPell/requirements.txt
FASPell/results_0.json
FASPell/test-results_0.txt
FASPell/test/
FASPell/venv/
FASPell/batch_test/test_result_1227_114715.json
FASPell/batch_test/test_result_1227_164215.json
FASPell/data/char_shape_data_process/.DS_Store
FASPell/data/char_shape_data_process/basic_stroke.txt
FASPell/data/char_shape_data_process/char_ids_dict.txt
FASPell/data/char_shape_data_process/char_ids_result_dict.txt
FASPell/data/char_shape_data_process/char_meta.txt
FASPell/data/char_shape_data_process/char_unicode_dict.txt
FASPell/data/char_shape_data_process/leafs_to_decompose.txt
FASPell/data/char_shape_data_process/ids.txt
FASPell/data/char_shape_data_process/new_char_ids_dict.txt
FASPell/data/char_shape_data_process/real_dict_leaf.txt
FASPell/data/char_meta.txt
FASPell/README-OCR.md
FASPell/batch_test/1.jpg
FASPell/batch_test/background/
FASPell/batch_test/corpus/
FASPell/batch_test/font/
FASPell/batch_test/imgs/
FASPell/batch_test/imgs_real/
FASPell/batch_test/test_result_1226_173435.json
FASPell/batch_test/test_result_1226_175509.json
FASPell/batch_test/test_result_1226_182344.json
FASPell/batch_test/try.py
.DS_Store
.idea/
LICENSE
test.py
wrong_cases.txt
pycorrector/__pycache__/

