model/
data/char_meta_all.txt
apted.jar
.DS_Store
.idea/
__pycache__/
bert_modified/__pycache__/
data/.DS_Store
history.json
logs/
requirements.txt
results_0.json
test-results_0.json
test-results_0.txt
test/
venv/
data/char_shape_data_process/.DS_Store
data/char_shape_data_process/basic_stroke.txt
data/char_shape_data_process/char_ids_dict.txt
data/char_shape_data_process/char_ids_result_dict.txt
data/char_shape_data_process/char_meta.txt
data/char_shape_data_process/char_unicode_dict.txt
data/char_shape_data_process/dict_leaf.txt
data/char_shape_data_process/dict_leaf_new.txt
data/char_shape_data_process/ids.txt
data/char_shape_data_process/new_char_ids_dict.txt
data/char_shape_data_process/real_dict_leaf.txt
data/char_shape_data_process/leafs_to_decompose.txt
data/char_meta.txt
README-OCR.md
batch_test/1.jpg
batch_test/background/
batch_test/corpus/
batch_test/font/
batch_test/imgs/
batch_test/imgs_real/
batch_test/test_result_1226_173435.json
batch_test/test_result_1226_175509.json
batch_test/test_result_1226_182344.json
batch_test/test_result_1227_114715.json
batch_test/test_result_1227_164215.json
batch_test/try.py
